#cv-form{
    /* display:none; */

}
/* #cv-template{
    display: none; */
/* } */
.myimg{
    border:1px solid rgb(69, 51, 134);
    border-radius :50% ;
    width: 200px;
    height: 200px;
}
.background{
    background-color: rgb(177, 144, 215);
}
.background1{
    background-color: rgb(196, 79, 79);
}
.background{
    background-color: rgb(70, 152, 158);
}